<div id='container'>
  <h1>Shorten</h1>
  <form name="linkForm" ng-submit="addLink()" novalidate>
    <input name='link' type='url' 
    ng-model='link.url' placeholder="Enter URL" required
    ng-class="{'error':linkForm.$invalid && linkForm.$dirty}"/>
    <button type="submit" ng-disabled='linkForm.$invalid'>Submit</button>
  </form>
  <div ng-if="linkForm.link.$error.required && linkForm.$dirty" class="message">
    <h2>Please enter URL</h2>
  </div>
  <div ng-if="linkForm.link.$error.url && linkForm.$dirty" class="message">
    <h2>Not a valid URL please enter different URL</h2>
  </div>
</div>

